<div class="container">
    <navbar></navbar>
    <!-- Talk about what's new -->
    <div class="row bottomRow navBottomNeighbor">
        <div class="dbHeading">
            <h1 class="dbWhoa">
                <p>WHOA!!!!!!!</P>
            </h1>
            <h2>
                <p>You have discovered the /db page!</p>
            </h2>
            <h3>
                <p>I wonder what those buttons do...</p>
            </h3>
        </div>
        
        <div class="col-xs-12 col-sm-6 dashboard-left">
            <div class="v-align"><input ng-click="vm.nukeDB()" class="nukeButton" type="button" /></div>
        </div>
        <div class="col-xs-12 col-sm-6 dashboard-right">
            <div class="v-align"><input ng-click="vm.fillDB()"  class="seedButton" type="button" /></div>
        </div>
    </div>
</div>

<modal></modal>

<link rel="stylesheet" href="style/css/styles.css">
<link rel="stylesheet" href="style/css/styles_modal.css">