<!-- ################################## LOGIN BOX ########################## -->

<!-- login box -->
<div id="id01" class="modal">
    <!-- close login box -->
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    
    <!-- Contents of login box -->
    <form ng-submit="modvm.sendData()" class="modal-content animate" id="loginForms">
        
        <!-- avatar image -->
        <div class="imgcontainer">
            <h1><b>Welcome back!</b></h1>
            <img src="images/avatar.jpg" alt="Avatar" class="avatar">
        </div>
        
        <!-- forms links and checkboxes -->
        <div class="container loginForms">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required ng-model="modvm.loginData.username">
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required ng-model="modvm.loginData.password">
            <div style="text-align:center">
                <button type="submit" form="loginForms" class="loginButton btn btn-primary">Log In</button>
                <input class="opts rememberMe" type="checkbox" checked="checked" name="remember"> Remember me
            </div>
        </div>
        
        <!-- forgot password section -->
        <div style="text-align: center;">
            <span class="opts"><a href="TODO">Forgot password?</a></span>
        </div>
        
    </form>
</div>


<!-- ################################## /LOGIN BOX ######################### -->

<!-- ################################## PROFILE BOX ######################## -->

<!-- login box -->
<div id="id03" class="modal">
    <!-- close login box -->
    <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
    
    <!-- Contents of login box -->
    <form class="modal-content-narrow animate">
        
        <!-- avatar image -->
        <div class="imgcontainer">
            <h1><b>Your Profile</b></h1>
            <img src="./images/avatar2.png" alt="Avatar">
        </div>
        
        <!-- forms links and checkboxes -->
        <div class="imgcontainer">
            <div class="profileData">
                <div>
                    <b>Name: </b>
                    <small>Janez</small>    
                    
                </div>
                <div>
                    <b>Last name: </b>
                    <small>Novak</small>    
                </div>
                <div>
                    <b>Username: </b>
                    <small>jn9283</small>    
                </div>
                <div>
                    <b>E-mail: </b>
                    <small align="left">janez.novak@example.com</small>
                </div>
            </div>
            <div style="margin:10px;">
                <button type="button" onclick="document.getElementById('id03').style.display='none'" class="btn btn-primary" style="width:25%; margin:10px; display:inline-block;">Confirm</button>
                <button type="button" ng-click="modvm.deleteAccount()" class="btn btn-danger" style="width:25%; margin:10px; display:inline-block;">Delete Account</button>
            </div>
        </div>
    </form>
</div>

<!-- ################################## /PROFILE BOX #################### -->


<!-- ########################### SETTINGS BOX ########################### -->
<!-- Settings box -->
<div id="id02" class="modal">
    <!-- close login box -->
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    
    <!-- Contents of settings box -->
    <!-- TODO: save settings -->
    <form class="modal-content-narrow animate">
        
        <!-- title -->
        <div class="ttlcontainer">
            <h1><b>Settings</b></h1>
        </div>
        
        <!-- Settings list -->
        <div class="container settings">
            <label for="currency"><b>Default Currency</b></label>
            <div class="bfh-selectbox bfh-currencies" data-currency="EUR" data-flags="true"></div>
            <input class="opts" type="checkbox" checked="checked" name="mode"> Night Mode
        </div>
        
        <!-- Save button section -->
        <div style="text-align: center;">
            <button type="button" class="settingsSave btn btn-primary">Save</button>
            <span onclick="document.getElementById('id02').style.display='none'" class="opts cancelLink" title="Cancel" onmouseover="" >Cancel</span>
        </div>
    </form>
</div>
<!-- ########################### /SETTINGS BOX ########################### -->

<!-- ########################### TERMS AND CONDITIONS BOX ################ -->
<!-- Settings box -->
<div id="id04" class="modal">
    <!-- close terms and conditions box -->
    <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
    <!-- Contents of terms and conditions modal box -->
    <form class="modal-content animate">
        <!-- title -->
        <div class="ttlcontainer">
            <h1><b>Terms of Service</b></h1>
        </div>
        <!-- Placeholder for actual terms and conditions -->
        <div class="termsBox">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo velit ac turpis interdum iaculis. 
            Nunc porttitor augue non ultricies efficitur. Quisque sed volutpat nibh. Pellentesque feugiat, tellus sed imperdiet lobortis, 
            nisl est bibendum nisl, egestas gravida elit eros a quam. Nam facilisis fringilla lacus, at vulputate ligula posuere a. 
            Duis aliquet feugiat orci quis pharetra. Integer eu suscipit ligula, vitae congue ipsum.

            Nunc consectetur pellentesque mauris, ac rutrum neque efficitur nec. Morbi sit amet leo eget mauris gravida pretium. 
            Aliquam id nisl vehicula, semper neque ac, vestibulum lectus. Phasellus lobortis convallis tellus eget mattis. 
            Vestibulum sed condimentum massa. Integer sit amet nisl rhoncus, mollis erat nec, semper ante. Morbi eu dolor tristique, 
            interdum augue eu, laoreet quam. Maecenas ipsum dui, hendrerit sed tortor vel, bibendum molestie ipsum. Integer nec facilisis magna. 
            Mauris scelerisque dolor at augue porttitor efficitur. Ut lacus velit, sagittis et vehicula non, sodales in ante. Integer laoreet, 
            turpis eu rhoncus venenatis, odio diam scelerisque ipsum, sit amet luctus ligula sem non neque. Aenean sit amet velit aliquet, 
            feugiat elit id, pulvinar enim. Morbi semper, massa id tincidunt tristique, purus erat suscipit nisi, sit amet malesuada elit ipsum eget eros. 
            Fusce vel laoreet massa.

            Nam egestas bibendum diam sollicitudin molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada 
            fames ac turpis egestas. Nullam rhoncus velit eget velit vehicula ultrices. Nulla dictum leo nulla, blandit dignissim tortor 
            pharetra lobortis. Duis nulla turpis, facilisis a semper non, ullamcorper id mi. Sed lobortis ex et enim tincidunt, in cursus lacus porta.
            Vivamus non aliquet ipsum.

            Fusce varius, enim in blandit ullamcorper, felis leo porttitor nunc, ac elementum mi sem a sem. Maecenas eget dui ornare, viverra augue sit amet, 
            scelerisque tellus. Mauris pretium lobortis nisl, eget sagittis lectus accumsan in. Nullam id nisi eros. Donec gravida diam ac neque hendrerit, 
            vel lobortis massa euismod. Ut iaculis et tortor vitae <ullamc></ullamc>orper. Sed fringilla massa nibh, quis auctor urna imperdiet a. Donec fermentum lorem in est hendrerit, 
            ac vestibulum lorem gravida. Morbi nunc nibh, imperdiet sit amet scelerisque vel, mollis eu nulla.

            Vestibulum lobortis imperdiet neque. In hac habitasse platea dictumst. Duis convallis odio non justo ultricies, non euismod erat aliquet. 
            Sed mollis lorem in posuere sodales. Nam fringilla vitae elit et efficitur. Quisque nisl turpis, dapibus ac consequat eget, interdum facilisis mauris. 
            Pellentesque consectetur a metus non lacinia. Mauris at lectus id sapien scelerisque blandit. Nam urna enim, maximus vitae nisl congue, vulputate tincidunt dolor.
        </div>
    </form>
</div>
<!-- ########################### /TERMS AND CONDITIONS BOX ###################-->