<div class="container">
    <navbar></navbar>
   
    <!-- #################### Contacts Section ########################## -->
    <div class="row navBottomNeighbor bodyRow bottomRow" id="dashboardTopLoans">
        <div class="center">
            <div class="v-align dashTableDiv">
                <h1 class="contactsLabel">Your Contacts</h1>
                
                <!-- Filter and new contact functionality -->
                <div class="contactsRow">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <!-- filter selection -->
                            <label class="contactsLabel" for="dashFilterSel">Sort contacts by:</label>
                            <div>
                                <select class="form-control contactsFilter" id="contactsFilter" ng-model="vm.orderSel" ng-change="vm.applyOrder(vm.orderSel)">
                                    <option>Username</option>
                                    <option>First name</option>
                                    <option>Last name</option>
                                </select>
                            </div>
                        </div>
                        
                        <!-- Master table of contacts -->        
                        <div class="col-xs-6 contactsMasterTable">
                            <h3 class="contactsList">List of Your Contacts</h3>
                            <table class="table table-bordered table-responsive contactsTable">
                                <thead>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                </thead>
                                
                                <script>
                                    // Script for coloring unselected loans
                                    function deselect() {
                                        var unselected = document.getElementsByClassName("selectableRow");
                                        for(var i = 0; i < unselected.length; i++) {
                                            unselected[i].style.color = '#333';
                                        }
                                    }
                                </script>
                                    <tbody class="selectableRow" ng-repeat="x in vm.data.contacts | orderBy: vm.orderProp" ng-click="vm.showContactDetails(x)" onclick="deselect(); this.style.color='blue';">
                                        <td> {{ x.username }} </td>
                                        <td> {{ x.name }} </td>
                                        <td> {{ x.surname }} </td>
                                    </tbody>
                                </ul>
                            </table>
                        </div>
                        
                        <div class="paginationRow" ng-show="vm.numContacts > 10">
                                <ul uib-pagination total-items="vm.numContacts" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" ng-change="vm.pageChange(vm.currentPage)">
                        </div>
                            
                            
                    <!-- Button for adding new contacts -->
                    </div>
                    <div class="col-xs-6">
                        <label class="contactsLabel" for="addnew">Add New Contact:</label>
                        <div class="newContactBtn">
                            <button class="contactbtn" ng-click="vm.newcontactModalShow()">New Contact</button> 
                        </div>
                    </div>
                </div>

                <div class="contactsRow">
                    <h3 class="contactsLabel">Contact Details</h3>
                    <div class="col-xs-6 borderedSilverBox">
                        <ul class="contactDetails">
                            <li><b>Username:</b> {{ vm.contactDetails.username }}</li>
                            <li><b>Name:</b> {{ vm.contactDetails.name }}</li>
                            <li><b>Surname:</b> {{ vm.contactDetails.surname }}</li>
                            <li><b>Phone:</b> {{ vm.contactDetails.phone }}</li>
                            <li><b>Email:</b> {{ vm.contactDetails.email }}</li>
                            <li><b>Email:</b> {{ vm.contactDetails.region }}</li>
                            <li><b>Notes:</b> {{ vm.contactDetails.notes }}</li>
                        </ul>
                        
                        <div class="ContactsModButtonContainer">
                            <input type="button" ng-click="vm.editnotesModalShow();" class="button_contactMod leftContactsButton" id="button_editContactNotes" value="Edit Notes">
                            <input type="button" ng-click="vm.deleteContact()" class="button_contactMod centerContactsButton" id="button_deleteContact" value="Delete Contact">
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>
   <!-- #################### /Contacts Section ########################## -->
</div>

<modal></modal>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="../style/css/styles.css">
<link rel="stylesheet" href="../style/css/styles_modal.css">