<!-- new contact box -->
<!-- Contents of login box -->
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="notesvm.cancel()">
         <span aria-hidden="true">&times;</span>
    </button>
</div>
<form ng-controller="contactsCtrl as vm" ng-submit="vm.sendNewContactData(notesvm.parentScope)" autocomplete="off" class="modal-body" id="newContactForm">
    
    <!-- avatar image -->
    <div class="ttlcontainer">
        <h1><b>Add New Contact</b></h1>
    </div>
    
    <!-- forms links and checkboxes -->
    <div class="container contactsContainer" >
        <h2 class="databaseSearchHeading">Search Database for Users</h2>
        
        <input id="databaseUserSearchField" class="form-control" ng-model="vm.expression" placeholder="search..." />
        
        <div class="contactSearch">
            <label><b>Found users:</b></label>
            <select id="foundContacts" class="form-control" ng-model="vm.selectedContact">
                <option ng-repeat="x in vm.usersList.listAll | filter: vm.expression">{{ x.name }} {{ x.surname }}, {{ x._id }}</option>
            </select>
        </div>
        
        <button type="button" ng-click="vm.fillFields()" class="contactAddedAlert btn btn-primary">Select</button>
        <span ng-click="notesvm.cancel()" class="opts" title="Cancel" onmouseover="">Cancel</span>
        
        <h2 class="databaseSearchHeading">Manually Add New Contact</h2>
        
        <label for="psw"><b>First Name</b></label>
        <input type="text" placeholder="Enter first name" name="name" id="contactName" required>
        <label for="psw"><b>Last Name</b></label>
        <input type="text" placeholder="Enter last name" name="lastname" id="contactSurname" required>
        <label for="psw"><b>E-mail</b></label>
        <input type="text" placeholder="Enter e-mail" name="email" id="contactEmail" required>
        <label for="psw"><b>Telephone number</b></label>
        <input type="text" placeholder="Enter telephone number" name="phone" id="contactPhone" required>
        <label for="psw"><b>City/Region</b></label>
        <input type="text" placeholder="Enter city/region" name="region" id="contactRegion" required>
        <label for="psw"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" id="contactUsername" required>
        
        <button type="submit" class="contactAddedAlert btn btn-primary">Add Contact</button>
        
        <span ng-click="notesvm.cancel()" class="opts" title="Cancel" onmouseover="">Cancel</span>
    </div>
    
</form>