extends layout

include _include/commonFunctions.pug

block content
  // #################### Contacts Section ##########################
  #dashboardTopLoans.row.bodyRow.bottomRow
    .center
      .v-align.dashTableDiv
        h1.contactsLabel Contacts
        // Filter and new contact functionality
        .contactsRow
          .col-xs-6
            .form-group
              // filter selection
              label.contactsLabel(for='sel1') Apply filter:
              select#sel1.form-control
                option All contacts
                option Lenders with pending loans
                option Loaners with pending loans
            .col-xs-6
              table.table.table-bordered.table-responsive.table-hover.loanTable
                thead
                  tr
                    th Username
                    th Name
                    th Surname
                    th(style='display:none') Email
                    th(style='display:none') Note
                tbody
                  each contact in contacts
                      +addContactsRow(contact)
          
          .col-xs-6
            label.contactsLabel(for='addnew') Add New Contact:
            div
              button#addnew.contactbtn(onclick="document.getElementById('id06').style.display='block'")
                | New Contact
        
        .contactsRow
          h3.contactsLabel User Details
          .col-xs-6.borderedSilverBox
            ul#extraContactInfo
              li Select contact for more information
            input#button_confirmLoanEdit.button_loanMod(type='button' value='Edit notes' onclick="document.getElementById('id11').style.display='block'")
  // #################### /Contacts Section ##########################
  
  // ################################## NEW CONTACT BOX ############################
  // login box
  #id06.modal
    // close login box
    span.close(onclick="document.getElementById('id06').style.display='none'" title='Close Modal') &times;
    // Contents of login box
    form.modal-content2.animate(action='/TODO')
      // avatar image
      .ttlcontainer
        h1
          b Add New Contact
      // forms links and checkboxes
      .container.contactsContainer
        h2.databaseSearchHeading Add a new contact
        form 
          input#username(type='text' placeholder='Enter username' name='username' pattern='[a-zA-ZčćžšđČĆŽŠĐ0-9]{1,50}$' title='Username can only consist of letters and numbers and cannot be longer than 50 characters' minlength='1' maxlength='50' required='')
          label(for='firstName')
            b First Name
          input#firstName(type='text' placeholder='Enter first name' name='name' pattern="[A-ZČĆŽŠĐ][a-zčćžšđA-ZČĆŽŠĐ']{1,50}$" title='First name must start with a capital letter, followed by a maximum of 49 letters of any case. Apostrophes are allowed.' minlength='1' maxlength='50' required='')
          label(for='lastName')
            b Last Name
          input#lastName(type='text' placeholder='Enter last name' name='surname' pattern="(?=.{1,50}$)(([A-ZČĆŽŠĐ][a-zčćžšđA-ZČĆŽŠĐ']{1,50})+ *)+" title='Each last name must start with a capital letter, followed by a maximum of 49 letters of any case. Apostrophes are allowed.' minlength='1' maxlength='50' required='')
          label(for='email')
            b E-mail
          input#email(type='email' placeholder='Enter e-mail' name='email' required='')
          br
          button.loginbtn(type='submit') Add Contact
        
        span.opts(onclick="document.getElementById('id06').style.display='none'" title='Cancel' onmouseover='') Cancel
  // ################################## /NEW CONTACT BOX ############################
  
  // ################################## EDIT NOTE BOX ############################
  // login box
  #id11.modal
    // close login box
    span.close(onclick="document.getElementById('id11').style.display='none'" title='Close Modal') &times;
    // Contents of login box
    form.modal-content2.animate(action='/TODO')
      // avatar image
      .ttlcontainer
        h1
          b Add New Contact
      // forms links and checkboxes
      .container.contactsContainer
        h2.databaseSearchHeading Edit note
        form 
          label
          input#username(type='text' placeholder='Add new note' name='notes')
          br
          button.loginbtn(type='submit') Edit note
        
        span.opts(onclick="document.getElementById('id11').style.display='none'" title='Cancel' onmouseover='') Cancel
  // ################################## /EDIT NOTE BOX ############################
