doctype html
head
  meta(charset='utf-8')
  title PayUp - Home
  link(rel='icon' href='images/avatar.jpg')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/styles.css')
  link(rel='stylesheet' href='/stylesheets/styles_modal.css')
//  script(src='./js/modal.js')
.container

  // ################################## LOGIN BOX ############################
  // login box
  #id01.modal
    // close login box
    span.close(onclick="document.getElementById('id01').style.display='none'" title='Close Modal') &times;
    // Contents of login box
    // TODO: confirm username and password. If sucessful, display html for logged user (for example ./logged.html)
    form.modal-content.animate(action='/')
      // avatar image
      .imgcontainer
        h1
          b Welcome back!
        img.avatar(src='/images/avatar.jpg' alt='Avatar')
      // forms links and checkboxes
      .container(style='padding: 5px; width: 50%;')
        label(for='uname')
          b Username
        input(type='text' placeholder='Enter Username' name='uname' pattern='[a-zA-ZčćžšđČĆŽŠĐ0-9]{1,50}$' title='Username can only consist of letters and numbers and cannot be longer than 50 characters' minlength='1' maxlength='50' required='')
        label(for='psw')
          b Password
        input(type='password' placeholder='Enter Password' name='psw' minlength='8' required='')
        button.loginbtn(type='submit') Login
        input.opts(type='checkbox' checked='checked' name='remember')
        |  Remember me
      // forgot password section
      div(style='text-align: center;')
        span.opts
          a(href='TODO') Forgot password?
  // ################################## /LOGIN BOX ############################
  
  // ########################### SETTINGS BOX ###########################
  // Settings box
  #id02.modal
    // close login box
    span.close(onclick="document.getElementById('id02').style.display='none'" title='Close Modal') &times;
    // Contents of settings box
    // TODO: save settings
    form.modal-content.animate(action='/dashboard/gozdnijoza97')
      // title
      .ttlcontainer
        h1
          b Settings
      form(action='' method='post')
        // Settings list
        .container.settings
          label(for='currency')
            b Default Currency
          .bfh-selectbox.bfh-currencies(data-currency='EUR' data-flags='true')
          input.opts(type='checkbox' checked='checked' name='mode')
          |  Night Mode 
        // Save button section
        div(style='text-align: center;')
          button.savebtn(type='submit') Save
          span.opts(onclick="document.getElementById('id02').style.display='none'" title='Cancel' onmouseover='') Cancel
  // ########################### /SETTINGS BOX ###########################

  // ################################## PROFILE BOX ############################
  // login box
  #id03.modal
    // close login box
    span.close(onclick="document.getElementById('id03').style.display='none'" title='Close Modal') &times;
    // Contents of login box
    // TODO: action calls script that closes the modal window
    form.modal-content.animate(action='/dashboard/gozdnijoza97')
      // avatar image
      .imgcontainer
        h1
          b Your Profile
      // forms links and checkboxes
      .container.loginForms
        img(src='/images/avatar2.png' alt='Avatar' align='left')
        div
          b Name: 
          small Janez
        div
          b Last name: 
          small Novak
        div
          b Username: 
          small jn9283
        div
          b E-mail: 
          small(align='left') janez.novak@example.com
        div(style='margin:10px;')
          h4 Upload Custom Avatar
          form(action='/todo.js')
            input#choosePic(type='file' name='pic' accept='image/*')
            input.submitAvatar(type='submit')
        div
          button.confirmbtn(onclick="document.getElementById('id03').style.display='none'") Confirm
      // forgot password section
      div(style='text-align: center;')
        span.resend
          a(href='TODO') Resend activation email
        span.delete(style='color:red')
          a(href='TODO') Delete account
  // ################################## /PROFILE BOX ############################
  
  // ########################### TERMS AND CONDITIONS BOX ###########################
  // Settings box
  #id04.modal
    // close terms and conditions box
    span.close(onclick="document.getElementById('id04').style.display='none'" title='Close Modal') &times;
    // Contents of terms and conditions modal box
    form.modal-content.animate(action='/dashboard/gozdnijoza97')
      // title
      .ttlcontainer
        h1
          b Terms of Service
      // Placeholder for actual terms and conditions
      div(style='margin:30px')
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo velit ac turpis interdum iaculis.
        | Nunc porttitor augue non ultricies efficitur. Quisque sed volutpat nibh. Pellentesque feugiat, tellus sed imperdiet lobortis,
        | nisl est bibendum nisl, egestas gravida elit eros a quam. Nam facilisis fringilla lacus, at vulputate ligula posuere a.
        | Duis aliquet feugiat orci quis pharetra. Integer eu suscipit ligula, vitae congue ipsum.
        | Nunc consectetur pellentesque mauris, ac rutrum neque efficitur nec. Morbi sit amet leo eget mauris gravida pretium.
        | Aliquam id nisl vehicula, semper neque ac, vestibulum lectus. Phasellus lobortis convallis tellus eget mattis.
        | Vestibulum sed condimentum massa. Integer sit amet nisl rhoncus, mollis erat nec, semper ante. Morbi eu dolor tristique,
        | interdum augue eu, laoreet quam. Maecenas ipsum dui, hendrerit sed tortor vel, bibendum molestie ipsum. Integer nec facilisis magna.
        | Mauris scelerisque dolor at augue porttitor efficitur. Ut lacus velit, sagittis et vehicula non, sodales in ante. Integer laoreet,
        | turpis eu rhoncus venenatis, odio diam scelerisque ipsum, sit amet luctus ligula sem non neque. Aenean sit amet velit aliquet,
        | feugiat elit id, pulvinar enim. Morbi semper, massa id tincidunt tristique, purus erat suscipit nisi, sit amet malesuada elit ipsum eget eros.
        | Fusce vel laoreet massa.
        | Nam egestas bibendum diam sollicitudin molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada
        | fames ac turpis egestas. Nullam rhoncus velit eget velit vehicula ultrices. Nulla dictum leo nulla, blandit dignissim tortor
        | pharetra lobortis. Duis nulla turpis, facilisis a semper non, ullamcorper id mi. Sed lobortis ex et enim tincidunt, in cursus lacus porta.
        | Vivamus non aliquet ipsum.
        | Fusce varius, enim in blandit ullamcorper, felis leo porttitor nunc, ac elementum mi sem a sem. Maecenas eget dui ornare, viverra augue sit amet,
        | scelerisque tellus. Mauris pretium lobortis nisl, eget sagittis lectus accumsan in. Nullam id nisi eros. Donec gravida diam ac neque hendrerit,
        | vel lobortis massa euismod. Ut iaculis et tortor vitae ullamcorper. Sed fringilla massa nibh, quis auctor urna imperdiet a. Donec fermentum lorem in est hendrerit,
        | ac vestibulum lorem gravida. Morbi nunc nibh, imperdiet sit amet scelerisque vel, mollis eu nulla.
        | Vestibulum lobortis imperdiet neque. In hac habitasse platea dictumst. Duis convallis odio non justo ultricies, non euismod erat aliquet.
        | Sed mollis lorem in posuere sodales. Nam fringilla vitae elit et efficitur. Quisque nisl turpis, dapibus ac consequat eget, interdum facilisis mauris.
        | Pellentesque consectetur a metus non lacinia. Mauris at lectus id sapien scelerisque blandit. Nam urna enim, maximus vitae nisl congue, vulputate tincidunt dolor.
  // ########################### /TERMS AND CONDITIONS BOX ###########################

  // Top navigation bar
  #logoRow.row.navbarRow
    #navbarTop.navbarTop
      ul
        li
          a(href='/') Home
        li
          a(href='patchnotes') What&apos;s New
        li
          a(href='/#aboutRow') About
        li
          a(href='/dashboard/gozdnijoza97') Dashboard
        a.navbarRowRight(href='/signup') Sign Up
        // ########### LOGIN BUTTON #############
        button.navbutton(onclick="document.getElementById('id01').style.display='block'") Login
        // ########### PROFILE BUTTON #############
        button.navbutton(onclick="document.getElementById('id03').style.display='block'") Profile
    
  block content

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type='text/javascript' src='/javascripts/inputHandler.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')