
extends layout

block content
  .row.bottomRow
    h2 PayUp&trade; patchnotes - what have we been up to?
    h3.announce Version 0.1 - 04/11/2018
    ul.patchnotesList
      li Added Wireframe of website!
      li
        | New elements include a Homepage, a Dashboard (with two subwindows), a Signup page, and a Login pop-up window!
      li Included JavaScript!
