/* NAVIGATION BAR */

.navbarRow {
    border-style: ridge; 
    border-top-width: 6px;
    border-bottom-style: ridge; 
    border-bottom-width: 6px;
}

/* Main navigation bar */
.navbarTop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbarTop li {
    float: left;
}

.navbarTop li a, .navbarTop ul a {
    display: block;
    color: silver;
    text-align: center;
    font-family: Times-New-Roman;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.navbarTop li a:hover , .navbarTop, ul a:hover{
    background-color: grey;
    color: black;
}

/* Text button that opens a modal window - same style as other elements in navigation bar */
.navbutton {
    border: none;
    background-color: inherit;
    font-weight: bold;
    padding: 14px 16px;
    font-size: 20px;
    color: silver;
    text-align: center;
    font-family: Times-New-Roman;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
}

/* Mimic hover appearance on links in navigation bar. */
.navbutton:hover {
    background-color: grey;
    color: black;
}

/* Button in navigation bar that links to another page */
.navbuttonRight {
    float: right;
}

.navBottomNeighbor {
    border-top-style: ridge;
    border-top-width: 3px;
}

.navbarText {
    font-family: Times-New-Roman;
    font-size: 1.5em;
}

.navbarTextLoginSignup {
    margin-right: 20px;
    font-family: Times-New-Roman;
    font-size: 1.5em;
}

.navbarTextDropDown {
    font-family: Times-New-Roman;
    curson: pointer;
    font-size: 1.5em;
}

.loggedInText {
    font-family: Times-New-Roman;
    font-size:1.2em;
}

.navbarExpansion {
    margin-left:-15px;
    margin-right:-15px;
    margin-top:-1px;
    margin-bottom:0;
}

.expandRight {
    margin-right:-30px
}


.saveBtn {
    text-align: center;
}

.loginBottom {
    text-align:center
}


/* LOGOS */

/* Home logo box */
.logo-box {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-image: url("./backgrounds/MoneyBackground.jpg");
    border-radius: 8px;
    background-position: center;
    height: 260px;
    width: 1200px; 
}

/* Home logo oval */
.logo-oval {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: lightgrey;
    background-image: url("./backgrounds/SilverBackground.jpg");
    background-position: center;
    border-radius: 50%;
    border-style: solid;
    border-color: #333;
    border-width: 7px;
    height: 100px;
    width: 200px;
}


.logo-text {
    font-family: Times-New-Roman;
    font-weight: bold;
}

/* Home slogan text */
.slogan-text {
    font-family: Arial;
    font-weight: bold;
}

/* Spacer row */
.spacer {
    background-color: #333;
    height: 15px;
}

/* About section */
.aboutBox {
    border-style: ridge;
    border-width: 4px;
    border-color: silver;
    border-radius: 8px;
    background-color: lightgrey;
    text-align: center;
    font-family: Times-New-Roman;
    font-weight: bold;
    background-image: url("./backgrounds/SilverBackground.jpg");
    background-position: center;
}

.carousel-image {
    width:100%;
}









/* CONTACTS */

/* Row styles */
.row, .contactsRow {
    padding-left: 15px;
    padding-right: 15px;
    border-left-style: ridge;
    border-left-width: 6px;
    border-right-style: ridge;
    border-right-width: 6px;
    background-color: #333;
}

.contactsRow {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #333;
    border:none;
}

.contactbtn {
    width:72%;
    padding-bottom: 5px;
    font-family: Times-New-Roman;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border-radius: 8px;
}

.newContactBtn {
    margin-bottom:30px;
}

.container.contactsContainer {
    width:80%;
}

.contactsLabel {
    color:silver;
}

.contactsList {
    color:silver;
    margin-top:13px;
    margin-bottom:23px
}

.contactsTable {
    border: 4px ridge silver;
    margin-top:10px;
}

.contactsTable th {
    color: silver;
}

.contactsTable td {
    background-color: silver;
    border: 1px solid #333;
}

.contactDetails {
    text-align: left;
    margin:20px;
}

.button_contactMod {
    width:25%;
    padding-bottom: 5px;
    font-family: Times-New-Roman;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    float:left; 
    margin:10px;
}

.contactsFilter {
    display:inline-block;
    width:100%; 
    height:100%;
}

.contactsMasterTable {
    display:inline-block;
    
}

.button_contactMod {
    width:25%;
    padding-bottom: 5px;
    font-family: Times-New-Roman;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    float:left; 
    margin:10px;
}

.button_contactMod.leftContactsButton {
    float:left;
    margin-right:10px;
    flex-grow: 1;
}

.button_contactMod.centerContactsButton {
    flex-grow: 1;
}

.button_contactMod.righContactsButton {
    float:right;
    margin:10px;
    flex-grow: 1;
}

.ContactsModButtonContainer {
    display:flex;
}

.editNotes {
    width:50%;
    margin:20px auto;
}

.contactAddedAlert {
    width: 200px;
    margin: 10px;
}

.cancelLink {
    display:inline-block;
    margin-left:10px;
}

.editNotesBox {
    text-align:center
}

.contactSearch {
    margin-top:10px;
    margin-bottom:10px;
}






/* LOANS */

.loanMan {
    font-family: Times-New-Roman;
    color: #333;
    margin:1%;
    
}

.loanMan2 {
    font-family: Times-New-Roman;
    color: #333;
}

.button_newLoan {
    width:100%;
    padding-bottom: 5px;
    margin-top: 15px;
    display: inline-block;
    font-family: Times-New-Roman;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border-radius: 8px;
}

.button_visualiseLoan {
    width:80%;
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
    font-family: Times-New-Roman;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border-radius: 8px;
}

.button_loanMod {
    width:25%;
    padding-bottom: 5px;
    font-family: Times-New-Roman;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    float:left; 
    margin:10px;
}


.button_loanMod.leftLoanButton {
    float:left;
    margin-right:10px;
    flex-grow: 1;
}

.button_loanMod.centerLoanButton {
    flex-grow: 1;
}

.button_loanMod.rightLoanButton {
    float:right;
    margin:10px;
    flex-grow: 1;
}

.loanModPanel {
    margin-top:10px;
    border: 4px ridge silver;
    text-align:center; 
    background-image:url('./backgrounds/SilverBackground.jpg'); 
    background-position: center; 
    overflow:hidden;
}

.loanModButtonContainer {
    display:flex;
}

.loanTable {
    border: 4px ridge silver;
}

.loanTable th {
    color: silver;
}

.loanTable td {
    background-color: silver;
    border: 1px solid #333;
}


.sortLabel, .loansLabel {
    color:silver;
}

.selectedLoansHeader {
    color:silver;
}

.loanerSel {
    margin-top:10px; 
    margin-bottom:10px;
    width:450px; 
    height:30px;
}

.newLoanBottomRow {
    text-align:center;
}


/* DASHBOARD */

.dashboard-right, .dashboard-left {
    display: table;
    text-align: center;
    vertical-align: middle;
    height: 150px;
}

.dashboard-right a, .dashboard-left a {
    position: relative;
    display:block ;
    background-image: url("./backgrounds/SilverBackground.jpg");
    background-position: center;
    text-align: center;
    font-family: Times-New-Roman;
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 20px;
    border: 3px ridge silver;
    border-radius: 8px;
}

.loanPropSel {
    margin-top:10px;
    margin-bottom:10px;
}

.loanPropSelCurrency {
    margin-top:10px;
    margin-bottom:10px;
    width:16%;
}

.newLoanLegend {
    width:50%;
}

.loanConfirmButton {
    width:400px;
    display:inline-block;
    margin:0px auto;
}

.selectableRow {
    cursor: pointer;
}

tr:hover td {
    background:#a6a6a6
}

.activeRow {
    background-color: white;
}

#loansSort {
    margin-top:3px;
    margin-bottom:3px;
}

#select_userType {
    margin-top:3px;
    margin-bottom:3px;
}



/* Login Form */

.loginForm {
    border: 4px ridge silver;
    padding-top: 15px;
    background-image: url("./backgrounds/SilverBackground.jpg");
    background-position: center;
}

.loginButton {
    width:30%;
    display:inline-block;
    margin:10px auto;
}

.rememberMe {
    margin-left:20px;
    display:inline-block;
}

.forgotPassword {
    text-align: center;
}






/* Profile */

.profileData {
    display: inline-block;
    text-align: left;
}

.profileOpts {
    margin:10px;
}

#profileBtnConfirm {
    width:25%;
    margin:10px;
    display:inline-block;
}

#profileBtnDelete {
    width:25%;
    margin:10px;
    display:inline-block;
}




/* Settings */

.settingsSave {
    width:20%;
}






/* SIGNUP */

.accountCreation {
    font-family: Times-New-Roman;
    font-size: 300%;
}

.signupForm {
    border: 4px ridge silver;
    padding-top: 15px;
    background-image: url("./backgrounds/SilverBackground.jpg");
    background-position: center;
}


#signupId_name, #signupId_surname, #signupId_username, #signupId_password, #signupId_confirmPassword, #signupId_email {
    width: 30%;
    height: 30pt;
    display:inline-block;
    
}

#recaptcha {
    display: inline-block;
    margin:10px;
}













/* PATCHNOTES */

.patchnotesList li {
    color: silver;
}

.announce {
    color:silver; 
    font-family: Times-New-Roman;
}






/* OTHER */

.center {
    display: table;
    width: 100%;
}

.v-align {
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: silver;
    font-family: Times-New-Roman;
}

.borderedSilverBox {
    
    margin-top:10px; 
    border: 4px ridge silver; 
    text-align: center;
    background-image:url('./backgrounds/SilverBackground.jpg'); 
    background-position: center; 
    overflow:hidden
}

html, body {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}

#chartBody  {
    background-color:"white";
}


.bodyRow {
    padding-bottom: 10px;
    padding-top: 10px;
}

.bottomRow {
    border-bottom-style: ridge; 
    border-bottom-width: 6px;
}

.debtChart {
    padding:30px;
}

/* DB PAGE */

.nukeButton {
    margin-top:10px;
    margin-bottom:30px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: 4px ridge silver; 
    text-align: center;
    background-image:url('/images/NUKE.jpg');
    background-size: 300px 300px;
    background-position: center; 
    overflow:hidden
}

.seedButton {
    margin-top:10px;
    margin-bottom:30px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: 4px ridge silver; 
    text-align: center;
    background-image:url('/images/SEED.jpg'); 
    background-size: 300px 300px;
    background-position: center; 
    overflow:hidden
}

.dbHeading {
    color:silver;
    text-align: center;
    font-family: Times-New-Roman;
}

.dbWhoa {
    font-size: 70px;
}



/* Modal windows */

.app-modal-window .modal-dialog {
  width: 80%;
  height: 50%;
}


/* Pagination */

.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: silver;
    border: solid 1px silver;
}

.pagination > .active > a:hover
{
    background-color: silver;
    border: solid 1px silver;
}

.paginationRow {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #333;
    border:none;
    float:left;
}