<div class="container">
    
    <!-- Include external html for navigation bar -->
    <div include-external2="navbar.html"></div> 

    <!-- Call function for including html for external windows. -->
    <script>
        includeHTML2();
    </script>
    
    
    <!-- ####################################### Sign up Form ########################################### -->
    <div class="row navBottomNeighbor bodyRow bottomRow">
        <div class="center">
            <div class="v-align"">
                    <form class="signupForm" id="signupForm">
                    <h1 class="accountCreation">Create a New Account</h1>
                        <p>
                            <div>
                                <label for="signupId_name" required class="text">Name: </label>
                            </div>
                            <input type="text" name="name" required class="text" id="signupId_name">
                        </p>
                        <p>
                            <div>
                                <label for="signupId_surname" required class="text">Surname: </label>
                            </div>
                            <input type="text" name="surname" id="signupId_surname">
                        </p>
                        <p>
                            <div>
                                <label for="signupId_username" required class="text">Username: </label>
                            </div>
                            <input type="text" name="username" required class="text" id="signupId_username">
                        </p>
                        <p>
                            <label for="signupId_gender">Gender: </label>
                            <select name="gender" class="select" id="signupId_gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </p>
                        <p>
                            <div>
                                <label for="signupId_password" required class="text">Password: </label>
                            </div>
                            <input type="password" name="password" id="signupId_password">
                        </p>
                        <p>
                            <div>
                                <label for="signupId_confirmPassword" required class="text">Confirm password: </label>
                            </div>
                            <input type="password" name="password" id="signupId_confirmPassword">
                        </p>
                        <p>
                            <div>
                                <label for="signupId_email" required class="text">Email: </label>
                            </div>
                            <input type="email" name="email" id="signupId_email">
                        </p>
                        <p>
                            <div class="g-recaptcha" id="recaptcha" data-sitekey="6Le9yn4UAAAAADa3SLo6DdyOyZo7c7-A01xdlcRR"></div>
                        </p>
                        <p>
                            <input type="checkbox" id="signupId_termsAndConditions">
                            <label for="signupId_termsAndConditions">I have read and agree to <a href="#" onclick="document.getElementById('id04').style.display='block';return false;">The Terms and Conditions</a>.</label>
                        </p>
                        <p>
                            
                            <button type="button" class="btn btn-success" is="signupConfirmButton">Sign up</button>
                            <button type="button" class="btn btn-primary" id="signupResendButton">Resend Confirmation Mail</button>
                            
                        </p>
                        <p>
                            <strong>Please check your inbox for a confiration email. If you did not receive a confirmation email, please click the "Resend" button.</strong>
                        </p>
                    </form>
            </div>    
        </div>
    </div>
</div>
<!-- ####################################### /Sign up Form ########################################## -->





<!-- html for modal forms -->
<div include-external="modal.html"></div> 

<!-- script that includes the html for modal forms on the page -->

<script>
    document.addEventListener("load", function(){
        includeHTML();
    });
</script>