<div class="container">
    <navbar></navbar>
    <!-- Manage Loans main page -->
    <div class="row navBottomNeighbor bodyRow bottomRow" id="loans-main">
        <div class="col-xs-12 col-lg-8 loans-left">
            <h2 class="loansLabel">My Loans</h2>
            <div class="form-group">
                    <label class="loansLabel" for="loanSort">Sort by:</label>
                    <select class="form-control" style="margin-top:3px; margin-bottom:3px;" id="loansSort" ng-model="vm.orderSel" ng-change="vm.applyOrder(vm.orderSel)">
                        <option>Issued/newest</option>
                        <option>Issued/oldest</option>
                        <option>Deadline/nearest</option>
                        <option>Deadline/furthest</option>
                        <option>Amount/highest</option>
                        <option>Amount/lowest</option>
                        <option>Source</option>
                        <option>Recipient</option>
                    </select>
                    
                    
                    <label class="loansLabel" for="select_userType">Filter:</label>
                    
                    <select class="form-control" style="margin-top:3px; margin-bottom:3px;" id="select_userType" ng-model="vm.filterSel" ng-change="vm.applyFilter(vm.filterSel);">
                        <option>Pending</option>
                        <option>Active</option>
                        <option>Resolved</option>
                    </select>
                    
                    
            </div>
                <table class="table table-bordered table-responsive loanTable">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Recepient</th>
                            <th>Issued</th>
                            <th>Deadline</th>
                            <th>Amount</th>
                            <th>Curr.</th>
                            <th>Interest</th>
                            <th>Int. Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    
                    <script>
                        // Script for coloring unselected loans
                        function deselect() {
                            var unselected = document.getElementsByClassName("selectableRow");
                            for(var i = 0; i < unselected.length; i++) {
                                unselected[i].style.color = '#333';
                            }
                        }
                    </script>
                    
                    <tbody ng-repeat="x in vm.data.loans | filter: vm.currentFilter | orderBy: vm.orderProp" ng-click="vm.selectLoan(x)">
                        <tr class="selectableRow" onclick="deselect(); this.style.color='blue';">
                            <td>{{ x.loaner }}</td>
                            <td>{{ x.recipient }}</td>
                            <td>{{ x.dateIssued | date : 'M-d-yyyy' }}</td>
                            <td>{{ x.deadline  | date : 'M-d-yyyy' }}</td>
                            <td>{{ x.amount }}</td>
                            <td>{{ x.currency }}</td>
                            <td>{{ x.interest }}%</td>
                            <td>{{ x.compoundInterest==true ? 'compound' : 'simple' }}</td>
                            <td>{{ x.status }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        
        
        <!-- Manage loans panel -->
        <div class="col-xs-12 col-lg-4 loans-right">
            <h2 class="loansLabel">Edit loans</h2>
            </br>
            <div class="loanModPanel">
                <h3 class="loanMan">Edit Loan</h3>
                <p class="loanMan2">
                    Select loan from table to edit.
                </p>
                
                <div class="loanModButtonContainer">
                    <input type="button" ng-click="vm.confirmLoan()" class="button_loanMod leftLoanButton" id="button_confirmLoanEdit" value="Confirm">
                    <input type="button" ng-click="vm.resolveLoan()" class="button_loanMod centerLoanButton" id="button_loanResolve" value="Resolve">
                    <input type="button" ng-click="vm.deleteLoan()" class="button_loanMod rightLoanButton" id="button_loanDelete" value="Delete">
                </div>
                <div>
                    <button class="button_visualiseLoan" onclick="document.getElementById('id10').style.display='block'">Loan Chart</button>
                </div>
            </div>
            <div>
                <button class="button_newLoan" onclick="document.getElementById('id07').style.display='block'">New Loan</button>
            </div>
        </div>
        
        
    </div>
</div>

<modal></modal>

<!-- ########################## NEW LOAN BOX ########################## -->

<!-- Add new loan box -->
<div id="id07" class="modal" style="overflow-y: auto;">
    <!-- close new loan box -->
    <span onclick="document.getElementById('id07').style.display='none'" class="close" title="Close Modal">&times;</span>
    
    <!-- Contents of login box -->
    <form ng-submit="vm.sendNewLoanData()" autocomplete="off" class="modal-content animate">
        
        <!-- title -->
        <div class="imgcontainer">
            <h1><b>Create New Loan</b></h1>
        </div>
        
        <!-- Loan properties -->
        <div class="container">
            <!-- Select loaner (must be in contacts)s -->
            <fieldset>
                <legend class="newLoanLegend">Recipient information</legend>
                <label for="loanerSel">Select Recipient from your contacts:</label>
                
                <div ng-controller="contactsCtrl as vmc">
                    <select ng-repeat="x in vmc.data.contacts" ng-click="" class="form-control loanerSel" id="loanerSel" ng-model="vm.loanData.recipient">
                        <option> {{ x.username }} ({{ x.name  }} {{ x.surname }}, {{ x._id }})</option>
                    </select>
                </div>
            </fieldset>
            
            <!-- amount -->
            <fieldset>
                <legend class="newLoanLegend">Loan Information:</legend>
                <label>Amount to loan:</label>
                <div class="loanPropSel">
                    <input type="number" name="loanAmount" value="1" min=1 ng-model="vm.loanData.amount"><br>
                </div>
                <label>Currency:</label>
                <div class="bfh-selectbox bfh-currencies loanPropSelCurrency" data-currency="EUR" id="currencySel" data-flags="true" ng-model="vm.loanData.currency"></div>
                <label>Interest:</label>
                <div class="loanPropSel">
                    <input type="number" name="loanAmount" value="1" min=1 ng-model="vm.loanData.interest"><br>
                </div>
                <label>Compound Interest:</label>
                <div class="loanPropSel">
                    <select ng-model="vm.loanData.compoundInterest">
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                </div>
                <label>Interest on Debt:</label>
                <div class="loanPropSel">
                    <select ng-model="vm.loanData.interest_on_debt">
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                </div>
            </fieldset>
            
            <fieldset>
                <legend class="newLoanLegend">Deadlines and Payment Intervals</legend>
                <label>Payment Interval (in days):</label>
                <div class="loanPropSel">
                    <input type="number" name="loanAmount" value="1" min=1 ng-model="vm.loanData.payment_interval"><br>
                </div>
                <label>Payment Amount:</label>
                <div class="loanPropSel">
                    <input type="number" name="loanAmount" value="1" min=1 ng-model="vm.loanData.payment_amount"><br>
                </div>
                <label>Repayment Deadline:</label>
                <div class="loanPropSel">
                    <input type="date" name="paymentDeadline" ng-model="vm.loanData.deadline"><br>
                </div>
            </fieldset>
            
        </div>
        
        
        <div style="text-align:center">
                <button type="submit" class="loanConfirmButton btn btn-primary">Create Loan</button>
                <span onclick="document.getElementById('id07').style.display='none'" class="opts cancelLink" title="Cancel" onmouseover="">Cancel</span>
        </div>
        
    </form>
</div>


<!-- ########################### /NEW LOAN BOX ######################### -->


<!-- ########################### DEBT CHART BOX ######################## -->
<!-- Debt by Time Plot -->
<div id="id10" class="modal">
    <!-- Close plot -->
    <span onclick="document.getElementById('id10').style.display='none'" class="close" title="Close Modal">&times;</span>
    
    <!-- Contents of modal box -->
    <div class="modal-content animate">
        <canvas id="line-chart" class="debtChart"></canvas>
    </div>
</div>

<script>
    /* global getDebtChart */
    getDebtChart([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16], [1,2,3,4,5,6,5,4,6,7,8,3,4,5,6,7], [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16], 'EUR');
</script>
<!-- /Debt by Time Plot -->
<!-- ########################### /DEBT CHART BOX ######################## -->

<modal></modal>

<link rel="stylesheet" href="style/css/styles.css">
<link rel="stylesheet" href="style/css/styles_modal.css">