<div class="container">
    <navbar></navbar>
    <!-- Manage Loans main page -->
    <div class="row navBottomNeighbor bodyRow bottomRow" id="loans-main">
        <div class="col-xs-12 col-lg-8 loans-left">
            <h2 class="loansLabel">My Loans</h2>
            <div class="form-group">
                    <label class="loansLabel" for="loanSort">Sort by:</label>
                    <select class="form-control" id="loansSort" ng-model="vm.orderSel" ng-change="vm.applyOrder(vm.orderSel)">
                        <option>Issued/newest</option>
                        <option>Issued/oldest</option>
                        <option>Deadline/nearest</option>
                        <option>Deadline/furthest</option>
                        <option>Amount/highest</option>
                        <option>Amount/lowest</option>
                        <option>Source</option>
                        <option>Recipient</option>
                    </select>
                    
                    
                    <label class="loansLabel" for="select_userType">Filter:</label>
                    
                    <select class="form-control" id="select_userType" ng-model="vm.filterSel" ng-change="vm.applyFilter(vm.filterSel);">
                        <option>Pending</option>
                        <option>Active</option>
                        <option>Resolved</option>
                    </select>
                    
                    
            </div>
                <table class="table table-bordered table-responsive loanTable">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Recepient</th>
                            <th>Issued</th>
                            <th>Deadline</th>
                            <th>Amount</th>
                            <th>Curr.</th>
                            <th>Interest</th>
                            <th>Int. Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    
                    <script>
                        // Script for coloring unselected loans
                        function deselect() {
                            var unselected = document.getElementsByClassName("selectableRow");
                            for(var i = 0; i < unselected.length; i++) {
                                unselected[i].style.color = '#333';
                            }
                        }
                    </script>
                    
                    <tbody ng-repeat="x in vm.data.loans | filter: vm.currentFilter | orderBy: vm.orderProp" ng-click="vm.selectLoan(x); vm.getChartData();">
                        <tr class="selectableRow" onclick="deselect(); this.style.color='blue';">
                            <td>{{ x.loaner }}</td>
                            <td>{{ x.recipient }}</td>
                            <td>{{ x.dateIssued | date : 'M-d-yyyy' }}</td>
                            <td>{{ x.deadline  | date : 'M-d-yyyy' }}</td>
                            <td>{{ x.amount }}</td>
                            <td>{{ x.currency }}</td>
                            <td>{{ x.interest }}%</td>
                            <td>{{ x.compoundInterest==true ? 'compound' : 'simple' }}</td>
                            <td>{{ x.status }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        
        
        <div class="paginationRow" style="float:left" ng-show="vm.numLoans > 10">
            <ul uib-pagination total-items="vm.numLoans" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" ng-change="vm.pageChange(vm.currentPage)">
        </div>
        
        
        <!-- Manage loans panel -->
        <div class="col-xs-12 col-lg-4 loans-right">
            <h2 class="loansLabel">Edit loans</h2>
            </br>
            <div class="loanModPanel">
                <h3 class="loanMan">Edit Loan</h3>
                <p class="loanMan2">
                    Select loan from table to edit.
                </p>
                
                <div class="loanModButtonContainer">
                    <input type="button" ng-click="vm.confirmLoan()" class="button_loanMod leftLoanButton" id="button_confirmLoanEdit" value="Confirm">
                    <input type="button" ng-click="vm.resolveLoan()" class="button_loanMod centerLoanButton" id="button_loanResolve" value="Resolve">
                    <input type="button" ng-click="vm.deleteLoan()" class="button_loanMod rightLoanButton" id="button_loanDelete" value="Delete">
                </div>
                <div>
                    <button class="button_visualiseLoan" id="loanChartBtn" onclick="document.getElementById('id10').style.display='block';">Loan Chart</button>
                </div>
            </div>
            <div>
                <button class="button_newLoan" ng-click="vm.newloanModalShow()">New Loan</button>
            </div>
        </div>
        
        
    </div>
</div>

<modal></modal>

<!-- ########################### DEBT CHART BOX ######################## -->
<!-- Debt by Time Plot -->
<div id="id10" class="modal">
    <!-- Close plot -->
    <span onclick="document.getElementById('id10').style.display='none'" class="close" title="Close Modal">&times;</span>
    <!-- Contents of modal box -->
    <div class="modal-content animate">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" onclick="document.getElementById('id10').style.display='none'">
                 <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <canvas id="line-chart" class="debtChart"></canvas>
    </div>
</div>

<input type="hidden" id="xDataChart">
<input type="hidden" id="yDataChart">
<input type="hidden" id="zDataChart">
<input type="hidden" id="curr">

<script>
    var displayChart = function(){
        var x = document.getElementById('xDataChart').value;
        var xData = JSON.parse("[" + x + "]");
        var y = document.getElementById('yDataChart').value;
        var yData = JSON.parse("[" + y + "]");
        var z = document.getElementById('zDataChart').value;
        var zData = JSON.parse("[" + z + "]");
        var currency = document.getElementById('curr').value;
        /* global getDebtChart */
        getDebtChart(xData, yData, zData, currency);
        
    };
    document.getElementById("loanChartBtn").addEventListener("click", displayChart);
</script>
<!-- /Debt by Time Plot -->
<!-- ########################### /DEBT CHART BOX ######################## -->

<modal></modal>

<link rel="stylesheet" href="style/css/styles.css">
<link rel="stylesheet" href="style/css/styles_modal.css">