extends layout

block content
    .row.bottomRow
        h2 PayUp&trade; upcoming features - what do we have planned next?
        h3.announce Coming Soon:
        ul.patchnotesList
          li JavaScript support to make the buttons actually do something
          li Tweaks for the existing wireframe, ironing out some bugs