extends layout

block content
  // #################### Contacts Section ##########################
  #dashboardTopLoans.row.bodyRow.bottomRow
    .center
      .v-align.dashTableDiv
        h1.contactsLabel Contacts
        // Filter and new contact functionality
        .contactsRow
          .col-xs-6
            .form-group
              // filter selection
              label.contactsLabel(for='sel1') Apply filter:
              select#sel1.form-control
                option All contacts
                option Lenders with pending loans
                option Loaners with pending loans
            .col-xs-6
              table.table.table-bordered.table-responsive.loanTable
                thead
                  tr
                    th Username
                    th Name
                    th Surname
                tbody
                  tr
                    td jn9283
                    td Janez
                    td Novak
            // Button for adding new contacts
          .col-xs-6
            label.contactsLabel(for='addnew') Add New Contact:
            div
              button#addnew.contactbtn(onclick="document.getElementById('id06').style.display='block'")
                | New Contact
        .contactsRow
          h3.contactsLabel User Details
          .col-xs-6.borderedSilverBox
            ul
              li Username: jn9283
              li Name: Janez
              li Surname: Novak
              li Email: janez.novak@example.com
              li Phone: (+386) 70 123 123
              li Region: Celje
              li
                | Notes: 
                p Janez is a very good friend from work
            input#button_confirmLoanEdit.button_loanMod(type='button' value='Edit notes')
  // #################### /Contacts Section ##########################
  
  // ################################## NEW CONTACT BOX ############################
  // login box
  #id06.modal
    // close login box
    span.close(onclick="document.getElementById('id06').style.display='none'" title='Close Modal') &times;
    // Contents of login box
    form.modal-content2.animate(action='/TODO')
      // avatar image
      .ttlcontainer
        h1
          b Add New Contact
      // forms links and checkboxes
      .container.contactsContainer
        h2.databaseSearchHeading Search Database for Users
        input#username(type='text' placeholder='Search for User' name='uname' pattern='[a-zA-ZčćžšđČĆŽŠĐ0-9]{1,50}$' title='Username can only consist of letters and numbers and cannot be longer than 50 characters' minlength='1' maxlength='50' required='')
        button.loginbtn(type='submit') Add Contact
        span.opts(onclick="document.getElementById('id04').style.display='none'" title='Cancel' onmouseover='') Cancel
        h2.databaseSearchHeading Manually Add New Contact
        label(for='firstName')
          b First Name
        input#firstName(type='text' placeholder='Enter first name' name='name' pattern="[A-ZČĆŽŠĐ][a-zčćžšđA-ZČĆŽŠĐ']{1,50}$" title='First name must start with a capital letter, followed by a maximum of 49 letters of any case. Apostrophes are allowed.' minlength='1' maxlength='50' required='')
        label(for='lastName')
          b Last Name
        input#lastName(type='text' placeholder='Enter last name' name='lastname' pattern="(?=.{1,50}$)(([A-ZČĆŽŠĐ][a-zčćžšđA-ZČĆŽŠĐ']{1,50})+ *)+" title='Each last name must start with a capital letter, followed by a maximum of 49 letters of any case. Apostrophes are allowed.' minlength='1' maxlength='50' required='')
        label(for='email')
          b E-mail
        input#email(type='email' placeholder='Enter e-mail' name='email' required='')
        label(for='tel')
          b Telephone number
        input#tel(type='text' placeholder='Enter telephone number' name='phone' minlength='9' maxlength='11' pattern='(\+(\d\s?){11})|((\d\s?){7}((\d\s?){2})?)' title='Phone number must include at least 9 digits.' required='')
        label(for='region')
          b City/Region
        input#region(type='text' placeholder='Enter city/region' pattern="[a-zA-ZčćžšđČĆŽŠĐ '0-9]{1,70}$" name='region' title='City/region name must be between 1 and 70 characters long.' minlength='1' maxlength='70' required='')
        button.loginbtn(type='submit') Add Contact
        span.opts(onclick="document.getElementById('id04').style.display='none'" title='Cancel' onmouseover='') Cancel
  // ################################## /NEW CONTACT BOX ############################
