extends layout

block content
    #dashboardMain.row.bodyRow
        .col-xs-12.col-sm-6.dashboard-left
          .v-align
            a(href='/loans') Manage Loans
        .col-xs-12.col-sm-6.dashboard-right
          .v-align
            a(href='/contacts') Contacts
    #dashboardTopLoans.row.bodyRow.bottomRow
        .center
          .v-align.dashTableDiv
            h2.selectedLoansHeader Selected Loans:
            .form-group
              label.sortLabel(for='sel0') Sort by:
              select#sel0.form-control
                option Issued/newest
                option Issued/oldest
                option Deadline/nearest
                option Deadline/furthest
                option Amount/highest
                option Amount/lowest
        table.table.table-bordered.table-striped.table-dark.loanTable
              thead.thread-light
                tr
                  th ID
                  th Source
                  th Recepient
                  th Issued
                  th Deadline
                  th Amount
                  th Currency
                  th Interest
                  th Interest Type
                  th Status