extends layout

include _include/commonFunctions.pug

block content
    #dashboardMain.row.bodyRow
        .col-xs-12.col-sm-6.dashboard-left
          .v-align
            a(href='/loans') Manage Loans
        .col-xs-12.col-sm-6.dashboard-right
          .v-align
            a(href='/contacts') Contacts
    #dashboardTopLoans.row.bodyRow.bottomRow
        .center
          .v-align.dashTableDiv
            h2.selectedLoansHeader Selected Loans:
        table.table.table-bordered.table-striped.table-dark.loanTable
              thead.thread-light
                tr
                  th(style='display:none') ID
                  th Source
                  th Recepient
                  th Issued
                  th Deadline
                  th Amount
                  th Curr.
                  th Interest
                  th Int. Type
                  th Status
              tbody#loansTableBody
                each loan in loans
                  +addLoansRow(loan)