extends layout

block content
    #dashboardMain.row.bodyRow
        .col-xs-12.col-sm-6.dashboard-left
          .v-align
            input#NUKE_button(type='button' class='nukeButton')
        .col-xs-12.col-sm-6.dashboard-right
          .v-align
            input#NUKE_button(type='button' class='seedButton')
        