doctype html
html(ng-app='payupApp')
head
  meta(charset='utf-8')
  title PayUp - Home
  link(rel='icon' href='images/avatar.jpg')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/styles.css')
  link(rel='stylesheet' href='/stylesheets/styles_modal.css')
  script(src='/angular/angular.min.js')
  script(src='/lib/angular-route.min.js')
  script(src='/app.js')
  script(src='/dashboard/dashboard.controller.js')
  script(src='/common/services/loansData.service.js')
  script(src='/common/services/loansList.service.js')
//  script(src='./js/modal.js')
.container
  div(ng-view)
    block content